[Unit]
Description=tBot service
After=network.target

[Service]
ExecStart=/home/pi/tbot/tbot
WorkingDirectory=/home/pi/tbot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
